{% import "macros.html" as macros %}
{% extends "base.html" %}
{% block content %}


{# -------------------- begin form -------------------- #}
<div class="row calc_form_row">
    <div class="container">
        <div class="col-lg-6 ">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Please enter your costs <small>It's free!</small></h3>
                    <p style="color:red;">Warning: Please do not leave any form fields blank. Enter 0 instead.</p>
                </div>
                <div class="panel-body centered">
                    {# hijiking the defualt form behavior with onsubmit="return false" #}
                    <form role="form" method="post" onsubmit="return false">

                        {# title of property #}
                        <div class="form-group">
                            <label for="title">Address or Property Name</label>
                            <input type="text" name="title" id="title" class="form-control input-sm" placeholder="Evan's Portland Condo">
                        </div>


                        {# rent amount field #}
                        <div class="form-group">
                            <label for="rent">Monthly Rent or Mortgage</label>
                            <input type="text" name="rent" id="rent" class="form-control input-sm" placeholder="1000.00 - please exlude the '$'">
                        </div>


                        {# water and sewer row #}
                        <h3>Utilities</h3>
                        <div class="row">


                            {# water #}
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <label for="water">Average monthly water bill</label>
                                <input type="text" name="water" id="water" class="form-control input-sm" placeholder="$50.00 - please exlude the '$' ">
                            </div>


                            {# sewer #}
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <label for="sewer">Average monthly sewer bill</label>
                                <div class="form-group">
                                    <input type="text" name="sewer" id="sewer" class="form-control input-sm" placeholder="$30.00 - please exlude the '$'">
                                </div>
                            </div>
                        </div>


                        <div class="row">

                            {# garbage #}
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <label for="garbage">Average monthly garbage</label>
                                <input type="text" name="garbage" id="garbage" class="form-control input-sm" placeholder="20">
                            </div>


                            {# electric #}
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <div class="form-group">
                                    <label for="electric">Average monthly electric</label>
                                    <input type="text" name="electric" id="electric" class="form-control input-sm" placeholder="25.00 - please exlude the '$'">
                                </div>
                            </div>

                            {# cable #}
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <label for="electric">Average monthly cable</label>
                                <input type="text" name="cable" id="cable" class="form-control input-sm" placeholder="50.00 - please exlude the '$'">
                            </div>

                        </div>




                        {# Fees and Services #}
                        <h3>Fees and Services</h3>
                        <div class="row">


                            {# maid service #}
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <label for="made_service">Average monthly maid service</label>

                                <input type="text" name="maid_service" id="maid_service" class="form-control input-sm" placeholder="200.00 - please exlude the '$'">

                                <h6>Note** This calculation assumes that a guest stays on average for 2 days and that the maid will only have to clean at the end of their stay.</h6>
                            </div>


                            {# hotel tax #}
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <div class="form-group">
                                    <label for="hote_tax">Hotel tax percentage</label>
                                    <input type="text" name="hotel_tax" id="hotel_tax" class="form-control input-sm" placeholder="12 - please exlude the '%' sign">
                                    <h6>Currently most states consider airbnb short term rentals to be the equilavent to hotel rentals and therefore sometimes may be taxed as so. Example, Portland has a 12% hotel tax. This is a bit of grey area currently so it's wise to get these funds on reserve and not consider them part of your profit.</h6>
                                </div>
                            </div>
                        </div>

                        <h3>Income</h3>

                        {# occupancy #}
                        <div class="form-group">
                            <label for="Occupancy">Monthly Occupation Percentage</label>
                            <input type="text" name="occupancy" id="occupancy" class="form-control input-sm" placeholder="70 - please exlude the '%' sign ">
                            <h6>What percentage of all the days in the month do expect your unit to be rented?  70% is a standard in urban areas.</h6>
                        </div>

                        {# daily_price #}
                        <div class="form-group">
                            <label for="electric">What will be your average price per day?</label>
                            <input type="text" name="daily_price" id="daily_price" class="form-control input-sm" placeholder="125 - please exlude the '$'">
                        </div>



                        <button id="calculate" type="submit" value="calculate" class="btn btn-info btn-block">Calculate</button>

                        <button id="reset" type="reset" value="reset" class="btn btn-info btn-block">Clear</button>

                        <button id="save" type="button" value="save" class="btn btn-info btn-block">Save Data</button>

                    </form>
                </div>
            </div>
        </div>
        <div class="col-lg-6 results">
        {# -------------------- begin suggestion -------------------- #}
        <div class="row" id="suggest">
                <p><span id="suggest_output"></span></p>
        </div>
        {# -------------------- end suggestion -------------------- #}
        <div class="row">
            <div class="col-md-4">
                <h1 class="output"><span id="revenue"></span></h1>
                <h3>Total Income</h3>
                <p>The total amount you will make given how much you charge per night and the number of nights your dwelling is occupied</p>
            </div>
            <div class="col-md-4">
                <h1 class="output"><span id="breakeven"></span></h1>
                <h3>Breakeven</h3>
                <p>The amount of money required to cover all your costs.<br></p>
            </div>
            <div class="col-md-4">
                <h1 class="output"><span id="profit"></span></h1>
                <h3>Total Monthly Profit</h3>
                <p>This is what goes in your pocket after expenses are paid. &nbsp;In other words: Total Income - Breakeven = Profit<br></p>
            </div>
        </div>
    </div>
</div>
    </div>
</div>
{# -------------------- end form -------------------- #}


{# -------------------- begin results -------------------- #}
{# Our javascript output goes between the span tags #}
{# class "results" hides and shows the field #}
{# the span id's output the requested output data #}


{# -------------------- end results -------------------- #}




{# -------------------- begin output table -------------------- #}

<div class="container">

    {{ macros.render_database_output(data_rows) }}
</div>
{# -------------------- end output table -------------------- #}

    {% endblock %}
