{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-offset-6 centered">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Please enter your costs <small>It's free!</small></h3>
                </div>
                <div class="panel-body centered">
                    {# hijiking the defualt form behavior with onsubmit="return false" #}
                    <form role="form" method="post" onsubmit="return false">

                        {# title of property #}
                        <div class="form-group">
                            <input type="text" name="title" id="title" class="form-control input-sm" placeholder="Address or Property Name">
                        </div>


                        {# rent amount field #}
                        <div class="form-group">
                            <input type="text" name="rent" id="rent" class="form-control input-sm" placeholder="Enter Rent Amount ex. $1000.00">
                        </div>


                        {# water and sewer row #}
                        <h3>Utilities</h3>
                        <div class="row">


                            {# water #}
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <input type="text" name="water" id="water" class="form-control input-sm" placeholder="Monthly water bill ex. $50.00">
                            </div>


                            {# sewer #}
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <div class="form-group">
                                    <input type="text" name="sewer" id="sewer" class="form-control input-sm" placeholder="Monthly sewer bill ex. $30.00">
                                </div>
                            </div>
                        </div>


                        <div class="row">

                            {# garbage #}
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <input type="text" name="garbage" id="garbage" class="form-control input-sm" placeholder="Monthly garbage bill">
                            </div>


                            {# electric #}
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <div class="form-group">
                                    <input type="text" name="electric" id="electric" class="form-control input-sm" placeholder="Monthly electric bill">
                                </div>
                            </div>

                            {# cable #}
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <input type="text" name="cable" id="cable" class="form-control input-sm" placeholder="Monthly cable bill ex. $50.00">
                            </div>

                        </div>




                        {# Fees and Services #}
                        <h3>Fees and Services</h3>
                        <div class="row">


                            {# maid service #}
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <input type="text" name="maid_service" id="maid_service" class="form-control input-sm" placeholder="Cost of maid services if you will not be handeling cleaning ex. $200">
                            </div>


                            {# hotel tax #}
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <div class="form-group">
                                    <input type="text" name="hotel_tax" id="hotel_tax" class="form-control input-sm" placeholder="Monthly hotel tax reserve ex. 12%">
                                </div>
                            </div>
                        </div>

                        <h3>Variables</h3>

                        {# occupancy #}
                        <div class="form-group">
                            <input type="text" name="occupancy" id="occupancy" class="form-control input-sm" placeholder="Occupancy Percentage">
                        </div>

                        {# daily_price #}
                        <div class="form-group">
                            <input type="text" name="daily_price" id="daily_price" class="form-control input-sm" placeholder="Daily Price">
                        </div>



                        <button id="calculate" type="submit" value="calculate" class="btn btn-info btn-block">Calculate</button>

                        <button id="reset" type="reset" value="reset" class="btn btn-info btn-block">Clear</button>

                        <button id="save" type="button" value="save" class="btn btn-info btn-block">Save Data</button>

                    </form>
                </div>
                <div>
                    {# Our javascript output goes between the span tags #}
                    <p class ="results">The amount of money you must make to break even is $<span id="breakeven"></span></p>
                    <p class ="results">Your total revenue is $<span id="revenue"></span></p>
                    <p class ="results">Your net is $<span id="profit"></span></p>
                    <p class ="results">This was submitted at <span id="submit_time"></span></p>
                </div>
            </div>
        </div>
    </div>


    {% endblock %}
