{% extends "base.html" %}
{% block content %}

<form class="short_form" role="form" method="POST">
    <h2>Login</h2>
    <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="Email address" required>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>

    <div id="other_login_info">
        <p>Haven't joined yet? <a href="{{ url_for('signup') }}">Signup Here</a></p>
        <p><a href="{{ url_for('reset_pass') }}">Forgot Password?</a></p>
    </div>
</form>
{% endblock %}
