{% extends "base.html" %}

{% block content %}

  {% for message in form.password_1.errors %}
    <div class="flash">{{ message }}</div>
  {% endfor %}



  <form method=post>
     <h2>Reset Password</h2>
    {# However, in order to create valid XHTML/HTML the Form class has a method hidden_tag which renders any hidden fields, including the CSRF field, inside a hidden  #}
    {{ form.hidden_tag() }}


    <div class="form-group">
      {{ form.password_1( class_='form-control') }}
    </div>

    <div class="form-group">
      {{ form.password_2 (class_='form-control')}}
    </div>


    {{ form.submit(class_='btn btn-default wtf_form_submit') }}
  </form>

{% endblock %}
