{% extends "base.html" %}

{% block content %}
  <h2>Reset Password</h2>

  {% for message in form.password_1.errors %}
    <div class="flash">{{ message }}</div>
  {% endfor %}



  <form method=post>
    {# However, in order to create valid XHTML/HTML the Form class has a method hidden_tag which renders any hidden fields, including the CSRF field, inside a hidden  #}
    {{ form.hidden_tag() }}


    {{ form.password_1 }}

    {{ form.password_2 }}


    {{ form.submit }}
  </form>

{% endblock %}
